@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #050505;
}

/* Kunci Scrollbar agar seperti Aplikasi Native */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* DILARANG SCROLL */
  background-color: var(--bg-dark);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar hanya untuk area Terminal */
.custom-scroll::-webkit-scrollbar { width: 4px; }
.custom-scroll::-webkit-scrollbar-track { background: rgba(255,255,255,0.05); }
.custom-scroll::-webkit-scrollbar-thumb { background: #d946ef; border-radius: 10px; }

/* Animasi Background Bergerak */
@keyframes drift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-bg {
  background: linear-gradient(-45deg, #0f0c29, #302b63, #24243e, #000000);
  background-size: 400% 400%;
  animation: drift 15s ease infinite;
}